.content {
    text-align: center;
    font-family: "Helvetica", "Arial", sans-serif;
}

.heading {
    text-align: center;
}

.rules {
    width: 400px;
    float:left;
    position: absolute;
}

.instructions {
    width: 350px;
    margin-left: 50px;
    float: right;
    position: absolute;
    right: 0;
}

@media (max-width: 1250px) {
    .rules, .instructions {
        top: 800px;
    }
}

@media (max-width: 900px) {
    .instructions {
        display: none;
    }
}

.choose {
    font-size: 18px;
    display: inline-block;
}

body {
    margin-bottom: 40px;
}

footer {
    width: 100%;
    position: fixed;
    text-align: center;
    border-top: 1px solid black;
    padding: 10px 0;
    background: #ddd;
    bottom: 0;
}